# Binaries
/bin/

# VSCode extension build output
/extension/out/
/extension/*.vsix

# node modules
/extension/node_modules/

# Go specific
*.exe
*.test

node_modules/
bin/

*.out 

docs/ai/

coverage.html
coverage.out
*.test

# Cursor rules
.cursor/